
.jq_alpha_sort_alphalist_item_wrap {
    float: right;
    max-height: 700px;
    overflow-x: auto !important;
    overflow-y: auto !important;
    width: 89%;
}
.filters_wrap
{
    float: right;
    margin-bottom: 4px;
    width: 24%;
}
.legends_outer_wrap
{
	float: right;
    height: 18px;
    width: 25%;
    padding-top:3px;
    text-align: right;
}
.legends_outer_wrap span.legends_color_notsrc_wrap
{
	background:#faa;height:15px;width:15px;display:inline-block;
}
.legends_outer_wrap .legends_color_src_wrap
{
	background:#afa;height:15px;width:15px;display:inline-block;
}
.alphabet_header_wrap
{
	float: left;
   margin: 0 0 5px;
    width: 100%;
}
.alphabet_header_wrap span a
{
	  color: #000000;
    cursor: pointer;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    width: 50%;
}
.left_filter_wrap
{
	border: 1px solid #AAAAAA;
    float: right;
    margin: 7px 10px;
    width: 34%;
}
.left_filter_wrap span a
{
	  background: none repeat scroll 0 0 #FAFAFA;
    border-right: 1px solid #AAAAAA;
    color: #000000;
    cursor: pointer;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    width: 25%;
}
.total_wrap
{
	font-size: 13px !important;
    font-weight: bold !important;
    margin: 9px 6px;
    float: left;
}
.last-item
{
	border-right: medium none !important;
    width: 49% !important;
}
.filters_wrap .left_filter_wrap span a:hover
{
	
	background:#F1EEE9;
}

.deal_prd_blk {
    border-radius: 0 !important;
    float: right;
    font-size: 10px;
    height: 18px;
    margin-right: -1px;
    margin-top: 0;
    width: 266px;
}
.search_blk
{
 	float: left;
    font-size: 10px;
    margin: 7px -22px 4px 15px;
    width: 175px;
}
/*.ui-widget-content 
{
	 background: none repeat scroll 0 0 #F9F9F9;
    border: medium none !important;
    border-radius: 0 !important;
    color: #000000;
    font-size: 11px !important;
    font-weight: bold !important;
    padding: 0;
    width: 269px !important;
}
.ui-menu .ui-menu-item
{
	border-bottom: 1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}*/
.sk_deal_blk_wrap
{
	float: left;
    margin: 0% 1% 0;
}
.sk_deal_container .sk_deal_blk_wrap th
{
 	background: none repeat scroll 0 0 #CCCCCC !important;
    font-size: 12px;
    padding: 7px;
}
.sk_deal_container .sk_deal_blk_wrap td
{
 	font-size: 12px;
    padding: 5px;
    text-transform:capitalize;
    border-bottom:1px solid #fff;
}
.sk_deal_container .sk_deal_blk_wrap  tr
{
	background: none repeat scroll 0 0 #F1F1F1;
}
.sk_deal_container .sk_deal_blk_wrap  tr
{
 	border: 1px solid #CCCCCC;
}
.sk_deal_container .sk_deal_blk_wrap tr:hover
{
	background:none repeat scroll 0 0 #ccc !important;
	border:1px solid #ff9600;
}
.sk_deal_container .sk_deal_blk_wrap span
{
 	font-size: 11px;
}
.sk_deal_container .sk_deal_blk_wrap span.title
{
 	font-weight: bold;
}
.sk_deal_blk_wrap .sk_deal_left_blk_wrap .title
{
	  border-left: 1px dotted #000000;
    color: #000000;
    float: left;
    font-size: 12px;
    font-weight: bolder;
    padding: 6px 0 6px 6px;
    text-align: left;
    width: 84%;
}
.jq_alpha_sort_overview_content
{
	padding-left:0px !important;
	min-height:787px;
}
.jq_alpha_sort_overview h4
{
	text-align:left;
}
.jq_alpha_sort_alphalist_vend_head h4
{
	text-align:left;
}
.jq_alpha_sort_overview
{
	background: none repeat scroll 0 0 #F9F9F9;
    display: inline-block;
   
    width:84%;
}
.sk_deal_container
{
	 float: left;
    max-height:742px;
    overflow: auto;
    width:100% !important;
}
.disab_all
{
	font-size: 9px !important;
    padding: 2px !important;
}
.enab_all
{
	font-size: 9px !important;
    padding: 2px !important;
}

.sk_deal_filter_blk_wrap{
    border: 1px solid #FDFDFD;
    float: left;
    margin: 0;
    width: 100%;
}
.search_img_wrap
 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    float: right;
}
.chzn-container .chzn-results li
{
	text-align:left;
}
.chzn-container-single .chzn-single span
{
	text-align:left;
}
.inp_focus
{
	box-shadow: none !important;
}
.jq_alpha_sort_alphalist
{
	width:16%;
}
.jq_alpha_sort_alphalist_char {
    float: left;
    width: 15%;
}
.jq_alpha_sort_alphalist_itemlist_divwrap
{
	text-transform: capitalize;
}
.jq_alpha_sort_alphalist_item_wrap {
    float: right;
    max-height: 700px;
    overflow: auto;
    width: 85%;
}
.jq_alpha_sort_alphalist_brand_head
{
	 background: none repeat scroll 0 0 #F1F1F1;
    float: left;
    width: 100%;
}
.jq_alpha_sort_brand_itemlist
{
	width:100%;
}
.brands_bychar_list
{
	float: left;
	margin-left: 1px;
	width: 100%;
}
.Brands_bychar_list_head
{
	background: none repeat scroll 0 0 #F1F1F1;	
}

.Brands_bychar_list_head .close_btn_dlpg
{
	 float: right;
    margin: 8px;
    text-align: center;
    width: 8%;
    cursor:pointer;
}

.brands_bychar_list .Brands_bychar_list_head h4
{
	float:left;
	width:80%;
    margin: 0;
    padding: 9px;
    text-align: left;
}
.jq_alpha_sort_alphalist_itemlist
{
	height: 700px !important;
}

.brands_bychar_list .Brands_bychar_list_content 
{
    float: left;
    width: 100%;
}
.brands_bychar_list .Brands_bychar_list_content_listdata
{
  	background: none repeat scroll 0 0 #fff;
    border: 1px solid #EAEAEA;
    color: #000000;
    cursor: pointer;
    float: left;
    margin: 4px;
    padding: 4px 7px;
    text-decoration: none;
}
.jq_alpha_sort_overview_title {
    background: none repeat scroll 0 0 #F9F9F9;
    float: left;
    width: 100%;
}
.page_alert_wrap
{
	padding:100px;
	font-size: 13px;
	color:red;
	font-weight: bold;
	text-align: center;
}
.close_btn_dlpg
{
	float:right;
}
.selected_class{
	 background-color: #ff9000 !important;;
    color: white !important;
    font-weight:bold;
}
.left_filter_mrp_wrap
{
	background: none repeat scroll 0 0 #FAFAFA;
    float: right;
    font-size: 12px;
    font-weight: bold;
    padding: 4px;
}
.left_filter_mrp_wrap input
{
	  height: 18px;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    width: 66px;
}
.slimScrollDiv
{
	height: 700px !important;
    width: auto !important;
    overflow: inherit !important;
}
.selected_type
{
	 background-color: #777 !important;;
    color: white !important;
    font-weight:bold;	
}
.selected_alpha_list
{
	background-color: #CCCCCC !important;
    color: #000000 !important;
}
.publish_background_sourceble
{
	background:#ccc;
}
.publish_background_sourceble
{
	background:#ff0000;
}
.publish_wrap,.sourceable_wrap
{
	background: none repeat scroll 0 0 #FAFAFA;
    float: right;
    margin: 1px 8px 7px;
    padding: 5px;
}
.ttl_deals_wrap
{
	float: right;
    font-size: 13px !important;
    font-weight: bold !important;
    margin: 9px 6px;
}
.tgl_stock_combo
{
	color: #008000;
    font-size: 9px;
}
.tgl_stock
{
	color: #000;
    font-size: 9px;
}
/* Tiny Scrollbar */
#scrollbar1 { width: 520px; margin: 20px 0 10px; }
#scrollbar1 .viewport { width: 500px; height: 200px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#scrollbar1 .scrollbar{ background: transparent url("../images/bg-scrollbar-track-y.png") no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
#scrollbar1 .track { background: transparent url("../images/bg-scrollbar-trackend-y.png") no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { background: transparent url("../images/bg-scrollbar-thumb-y.png") no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#scrollbar1 .thumb .end { background: transparent url("../images/bg-scrollbar-thumb-y.png") no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
#scrollbar1 .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

