.highlightprow {
	background: #ff9900;
}

.tgl_viewtransids {
	background: none repeat scroll 0 0 rgb(245, 245, 245);
	color: green;
	display: inline-block;
	font-size: 9px;
	margin: 2px 0;
	padding: 2px;
}

#modal {
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	z-index: 99;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	-moz-opacity: 0.8;
	min-height: 100%;
	width: 100%;
}



.src {
	background: #afa;
}

.nsrc {
	background: #faa;
}

#sl_products td {
	text-align: center;
}

.psrcstat a {
	font-size: 10px;
	color: blue;
}

#purchase_productdet_frm tfoot {
	display: none !important
}

.load_button {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed
		), color-stop(1, #dfdfdf) );
	background: -moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background: -webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background: -o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background: -ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',
		endColorstr='#dfdfdf', GradientType=0 );
	background-color: #ededed;
	display: inline-block;
	cursor: pointer;
	color: black;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	float:right;
}

.load_button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf
		), color-stop(1, #ededed) );
	background: -moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background: -webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background: -o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background: -ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf',
		endColorstr='#ededed', GradientType=0 );
	background-color: #dfdfdf;
}

.load_button:active {
	position: relative;
	top: 1px;
}

.searchfield { 
	width: 45%;
	padding: 11px 7px;
	padding-right: 43px;
	background-color: #fff;
	font-size: 12px;
	color: black;
	float: left;
	height:21px;
}

.searchfield:focus {
	width: 100%;
	color: black;

}


	/** JS animated input **/ 
.searchfieldjs {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	width: 45%;
	padding: 11px 7px;
	padding-right: 43px;
	background-color: #fff;
	border: 1px solid #c8c8c8;
	color: #ccc;
	font-size: 12px;
	border-bottom-color: #d2e2e7;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 0 6px
		#f0f0f0;
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 0 6px #f0f0f0;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 0 6px #f0f0f0;
}

.searchfieldjs:focus {
	color: black;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 6px
		#e0e0e0;
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 6px #e0e0e0;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 6px #e0e0e0;
}

/** search input **/
#searchform,#searchform2 {
	display: block;
	margin-bottom: 15px;
}

.fieldcontainer {
	display: block;
	position: relative;
	width: 90%;
	margin: 0 auto;
}
.searchfield { 
	box-sizing: border-box;
	display: block;
	width: 45%;
	padding: 11px 7px;
	padding-right: 43px;
	background-color: #fff;
	font-size: 12px;
	color: black;
	
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	transition: all 0.4s linear;
}

.searchfield:focus {
	width: 100%;
	color: black;
}

input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow: inset 0px 1px 0px 0px #d9fbbe;
	box-shadow: inset 0px 1px 0px 0px #d9fbbe;
	background-color: #b8e356;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 10px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #86ae47;
}
.prd_blk
{
	width:350px;
}
input[type="submit"] {
	background-color: #a5cc52;
}

input[type="submit"] {
	position: relative;
}
.po_filters {
	background-color: #EAEAEA;
	cursor: pointer;
	padding: 5px;
	overflow: hidden;
	display: block;
	clear: both;
}

.close_filters {
    display: table;
    width: 99%;
    float: right;
    cursor:pointer;
    background-color: #eaeaea;
    padding: 2px 7px 2px 6px;
}
.close_btn {
    float: right;
    margin-right: 8px;
    cursor:pointer;
    color:#D50C0C;
    font-weight: bold;
    font-size: 11px;
}
#filter_prods{
	padding:2px 5px 5px;
	width:100%;
}

.prd_srch_result {
      background: none repeat scroll 0 0 #EAEAEA;
    border: 1px solid #AAAAAA;
    color: #000000;
    display: none;
    max-height: 219px;
    overflow: auto;
    position: absolute;
    width: 271px;
}

.prd_srch_result a {
    color: #0000FF;
    display: block;
    font-size: 12px;
    padding: 9px;
}
.prd_srch_result a:hover{
	background:#ffffff;
	color:#000;
	font-weight: bold;
	text-decoration: none;
}
.qty_price_blk span
{
	width: 86px;
	text-align: right;
	font-size: 11px;
	font-weight: bold;	
}
.mrgn_blk span
{
	width: 205px;
	text-align: left;
	font-size: 11px;
	font-weight: bold;	
}
#tcol1 span
{
	float: left;
	width: 86px;
	text-align: right;
	font-size: 11px;
	font-weight: bold;	
}
.pprod_name
{
	font-size: 14px;
	font-weight: bold;
	color:#5F4904;
}
.pprod_name_subwrap
{
	font-size: 11px;
	color: #9669CE;
	float: left;
	margin: 16px 6px 0px 0px;
}
h3.filter_heading { margin-bottom: 0px; margin-top: 0;width: 788px;}

.readonly{width:54px;font-size:13px;background-color:#fafafa !important;color:#444 !important;}

.pprice{background-color: yellow!important;font-weight: bold;}
.vendor{width: 200px}
.partner{width: 100px;}

.loadbutton {
    font: 15px Calibri, Arial, sans-serif;
/* A semi-transparent text shadow */
    text-shadow: 1px 1px 0 rgba(255,255,255,0.4);
/* Overriding the default underline styling of the links */
    text-decoration: none !important;
    white-space: nowrap;
    display: inline-block;
    vertical-align: baseline;
    position: relative;
    cursor: pointer;
    padding: 5px 14px;
    background-repeat: no-repeat;
/* The following two rules are fallbacks, in case
the browser does not support multiple backgrounds. */
    background-position: bottom left;
  
/* Multiple backgrounds version. The background images
are defined individually in color classes */
    background-position: bottom left, top right, 0 0, 0 0;
    background-clip: border-box;
/* Applying a default border raidus of 8px */
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
/* A 1px highlight inside of the button */
    -moz-box-shadow: 0 0 1px #fff inset;
    -webkit-box-shadow: 0 0 1px #fff inset;
    box-shadow: 0 0 1px #fff inset;
/* Animating the background positions with CSS3 */
/* Currently works only in Safari/Chrome */
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s;
}

.loadbutton:hover {
/* The first rule is a fallback, in case the browser
does not support multiple backgrounds
*/
    background-position: top left;
    background-position: top left, bottom right, 0 0, 0 0;
}

.loadbutton:active {
/* Moving the button 1px to the bottom when clicked */
    bottom: -1px;
}

.loadbutton.big {
    font-size: 30px;
}

.loadbutton.medium {
    font-size: 18px;
}

.loadbutton.small {
    font-size: 16px;
}

.blue {
    color: #0f4b6d !important;
    border: 1px solid #84acc3 !important;
/* A fallback background color */
    background-color: #48b5f2;
 
}
.green {
    color: #345903 !important;
    border: 1px solid #96a37b !important;
    background-color: #79be1e;
    
}

.grey{
	color: black !important;
    border: 1px solid #F6F6F6 !important;
    background-color: #DEDEDE;
}
.error_inp{border:1px solid #cd0000 !important;}
.prd_blk {
    border-radius: 4px !important;
    display:inline-block;
    font-size: 14px;
    height: 18px;
    margin-right: -1px;
    margin-top: 0;
    padding:5px; 
}

.search_img_wrap
{
  	background: none repeat scroll 0 0 #FFF;
	border: 1px solid #CCC;
	display: inline-block;
	position: absolute;
	margin-top: 0px;
	border-radius:0px 4px 4px 0px !important;
}
.srch_box {width: 400px;}

.module_type1{padding:3px;}
.module_type1 .module_type1_title{font-size: 14px;font-weight: bold;}
.module_type1 .module_type1_content{font-size: 12px;}