.leftcont{display:none}
.jq_alpha_sort_wrap
{
	width:100%;
	float:left;
}
.jq_alpha_sort_alphalist
{
	float: left;
    width: 22%;
     background: none repeat scroll 0 0 #FDFDFD;
}
.po_latest_list
{
	float: right;
    width: 78%;
}
.jq_alpha_sort_alphalist_char
{
	width:11%;
	float:left;
}
.jq_alpha_sort_alphalist_char a
{
	background: none repeat scroll 0 0 #F1F1F1;
    border-bottom: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    color: #000000;
    cursor: pointer;
    display: block;
    font-size: 12px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}
.jq_alpha_sort_alphalist_char a:hover
{
	background: #ccc;
}
.jq_alpha_sort_alphalist_item_wrap
{
	width:89%;
	float:right;
	 max-height: 700px;
    overflow-x: auto;
    overflow-y: auto;
}

.jq_alpha_sort_alphalist_itemlist
{
	width:100%;
}
.jq_alpha_sort_alphalist_itemlist_divwrap 
{
	border-bottom: 1px dotted #CCCCCC;
    color: #000000;
    display: block;
    font-size: 12px;
    padding: 5px;
}
.jq_alpha_sort_alphalist_itemlist_divwrap a
{
	color:#000;cursor:pointer;
}
.jq_alpha_sort_alphalist_vend_head
{
	 background: none repeat scroll 0 0 #F1F1F1;
    float: left;
    width: 100%;
}

.jq_alpha_sort_alphalist_vend_head h4
{
	 margin:10px;
	 text-align:center;
}
a.jq_alpha_active{
    background-color: #d11250;
    color: white;
    font-weight:bold;
}

.jq_alpha_sort_alphalist_itemlist_divwrap.selected 
{
	 background-color: #f9f9f9;
    color: white;
    font-weight:bold;
}
.jq_alpha_sort_alphalist_itemlist_divwrap a
{
	display: block;
}

div.jq_itemlist_active{
    background-color: #d11250;
    color: white;
    font-weight:bold;
}

.jq_alpha_sort_overview
{
	width: 78%;
	display: inline-block;
	background:none repeat scroll 0 0 #F9F9F9;
	
}

.jq_alpha_sort_overview_content
{
	padding-left:10px;	
	min-height: 500px;
}


.jq_alpha_sort_overview_title
{
	background: none repeat scroll 0 0 #F9f9f9;
   
}
.jq_alpha_sort_overview_title span
{
	font-size: 15px;
    font-weight: 800;
}
.jq_alpha_sort_overview h4
{
	 background: none repeat scroll 0 0 #F1F1F1;
    border-left: 1px solid #FDFDFD;
    margin: 0;
    padding: 9px;
    text-align: center;
}
.po_blk_wrap
{
	  float: right;
    margin-right: 3px;
    width: 77%;
}
.po_blk_wrap tr
{
	background: #EEE5E5;
}
.po_list_byvendor_wrap a
{
	background: none repeat scroll 0 0 #EAEAEA;
	float: left;
    margin: 13px;
}
.po_list_byvendor_wrap span
{
	float: left;
    margin: 3px 12px;
}

.ajax_loadresult{
	padding:5px;
}

.ajax_loadresult a{
	   background: none repeat scroll 0 0 #F1F1F1;
    border-radius: 3px;
    color: #000;
    display: inline-block;
    margin: 6px 14px 2px 0;
    text-decoration: none;
    width: 15%;
    padding:1px;
}
.ajax_loadresult a.selected{
	background:#ff0000 !important;
	
}

.ajax_loadresult a:hover{
	background:#ccc;
	color:#000;
	background:#C97033;
}
/*
.ajax_loadresult a span{
	font-size:80%;
	float:right;
}*/
#apply_grn_form
{
	margin-top:10px;
}
.show {
    float: right;
    margin: 10px 10px;
}
.loadbutton {
    font: 15px Calibri, Arial, sans-serif;
/* A semi-transparent text shadow */
    text-shadow: 1px 1px 0 rgba(255,255,255,0.4);
/* Overriding the default underline styling of the links */
    text-decoration: none !important;
    white-space: nowrap;
    display: inline-block;
    vertical-align: baseline;
    position: relative;
    cursor: pointer;
    padding: 5px 14px;
    background-repeat: no-repeat;
/* The following two rules are fallbacks, in case
the browser does not support multiple backgrounds. */
    background-position: bottom left;
  
/* Multiple backgrounds version. The background images
are defined individually in color classes */
    background-position: bottom left, top right, 0 0, 0 0;
    background-clip: border-box;
/* Applying a default border raidus of 8px */
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
/* A 1px highlight inside of the button */
    -moz-box-shadow: 0 0 1px #fff inset;
    -webkit-box-shadow: 0 0 1px #fff inset;
    box-shadow: 0 0 1px #fff inset;
/* Animating the background positions with CSS3 */
/* Currently works only in Safari/Chrome */
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s;
}
.loadbutton.small {
    font-size: 16px;
}
.green {
    color: #345903 !important;
    border: 1px solid #96a37b !important;
    background-color: #79be1e;
    
}
.red {
    color: #FFF !important;
    border: 1px solid #96a37b !important;
    background-color: #FF3322;
    
}	
.imei_nos
{
	
}
.imei_nos ul
{
	list-style: none outside none;
}
.imei_remove
{
	cursor:pointer;
	color:red;
	font-weight: bold;
}
.po_qty_wrap b
{
	float: left;
    text-align: right;
    width: 78px;
    margin-right:3px;
}
.po_qty_wrap2 b
{
	float: left;
    text-align: right;
    width: 90px;
    margin-right:3px;
}
.exp_date_wrapper
{
	margin-top: 35px;float: left;width: 142px;
}
.edate
{
	width:70px;float:right;
}
 .dp_price, .pprice
{
	float: left;background:#eaeaea;
}
.upd_pmrp_blk, .upd_dp_price_blk
{
	float: left;width: 100%;text-align: center;margin:8px;
}
.upd_pmrp_blk span, .upd_dp_price_blk span
{
	font-size: 8px;
}
.name
{
	font-size: 13px;
	font-weight: bold;
}
.name a
{
	color: #000;
}
.imei_input
{
	width:200px;
	font-size: 11px;
}

.imei_error_input
{
	border:1px solid #cd0000 !important; 
}
.highlightprow
{
	background:#ff9900;
}
.upd_pmrp_blk,.upd_dp_price_blk 
{
	display: block;background: #ffffa0;font-weight: bold;font-size: 10px;text-align:center;display: none;padding:0px;
}
.unscanned
{
	background: #b4defe !important;
}
.edit_mode td
{
	background: #808000 !important;
}
/*
.bcode_scanned
{
	background: rgb(149, 238, 195) !important;
}
*/
.lastScanned
{
	background:none repeat scroll 0 0 #FF9600 !important; 
}
.button-tiny_wrap 
{
    font-size: 11px;
	padding: 5px;
	width: 18px;
	line-height: 18px;
	height: 18px;
}
#grn
{
	padding:5px;
}
.grn_po
{
	background:#eee;
	padding-top:5px;
}
.grn_po .datagrid, #grn .datagrid
{
	width:100%;
}
.imei_cont
{
	max-width:150px;
	overflow:auto;
	margin:0px -7px;
	background:#eee;
	padding:2px;
	font-size:80%;
	display:none;
}
.imei_cont span
{
	display:block;
	background:#f90;
	padding:0px 2px;
	margin:3px;
}
.barcode_fixed_wrap
{
	background: none repeat scroll 0 0 #fafafa;
	border: 1px solid #AAAAAA;
	margin: 5px 0;
	padding: 9px 0px;
	position: fixed;
	right: 0;
	top: 148px;
	width: 182px;
}
.barcode_fixed_wrap span,.barcode_fixed_wrap input
{
	margin-left:10px;
}
#grn_color_legends
{
	 background: none repeat scroll 0 0 #fafafa;
    border: 1px solid #CCCCCC;
    float: right;
    font-size: 10px;
    font-weight: bold;
    position: fixed;
    right: 0;
    top: 230px;
    color:#000;
    width: 182px;
}
#grn_color_legends h4
{
	 border-bottom: 1px solid #CCCCCC;
    color: #000000;
    font-size: 13px;
    margin: 0 0 0 3px;
    padding: 6px;
}
#grn_color_legends .unsc
{
	background: none repeat scroll 0 0 #B4DEFE;
    border: 1px solid #000000;
    padding: 0 38px;
}
#grn_color_legends .row_hg
{
	background: none repeat scroll 0 0 #ff9900;
    border: 1px solid #000000;
   	padding: 0 38px;
}
#grn_color_legends .row_hg td
{
	background: none repeat scroll 0 0 #ff9900;
    border: 1px solid #000000;
   	padding: 0 38px;
}
#grn_color_legends .last_sc
{
	background: #FF9600;
    border: 1px solid #000000;
    padding: 0 38px;
}
#grn_color_legends .sc
{
	background: rgb(149, 238, 195);
    border: 1px solid #000000;
    padding: 0 38px;
}
#grn_color_legends  .processed_mode_color{
	background:none repeat scroll 0 0 #80F111;
	border: 1px solid #000000;
    padding: 0 38px;
  }
#grn_color_legends  .edit_mode_color{
	background:none repeat scroll 0 0 #b4defe;
	border: 1px solid #000000;
    padding: 0 38px;
    }
#srch_barcode
{
	margin-top:10px;
}
.legend_wrap
{
	float: left;
    height: 20px;
    margin: 5px;
}
.legend_wrap b
{
	 float: left;
    font-size: 11px;
    font-weight: inherit;
    margin-right: 3px;
    text-align: right;
    width: 87px;
}
#loadafterselect
{
	
}
.recv_qty_wrapper
{
	text-align: right !important;
	font-size: 12px  !important;
	font-weight:bold;
}
.add_barcode_wrap
{
	
}
.add_barcode_wrap input
{
	padding:2px;font-size: 9px;width: 95%;
}
.seleted_vendor_wrap
{
	 background: none repeat scroll 0 0 #EAEAEA;
    float: left;
    font-size: 14px;
    margin-left: 5px;
    padding: 10px 10px 10px 7px;
    width: 84%;
}
.po_det_wrap_blk span
{
	color:#A55319;
}
.ven_po_det_wrap_blk1
{
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
.ven_po_det_wrap_blk2
{
	float: left;
    font-size: 100%;
    padding: 0 14px;
}
.ven_po_det_wrap_blk3
{
	float: left;
    font-size: 100%;
    padding: 0 14px;
}
.prod_mrp
{
	float:left;
	border:2px solid #000000 !important
}
#value_receiving
{
	color:#008000;
}
/********************* PO Blk CSS *******************/
dd
{
	margin: 0px;
}
dl
{
	margin: 0px;
	border-radius: 3px !important;
}

.plan_title {
     background: none repeat scroll 0 0 #000000;
    border-radius: 3px 3px 0 0;
    color: #FFFFFF;
    font-family: helvetica;
    font-size: 17px;
    font-weight: bold;
    padding: 9px;
    text-align: center;
    text-shadow: 1px 1px 1px #5E5858;
}

#pricing_plan2 .plan_price, #pricing_plan2 .buy {
    background: none repeat scroll 0 0 #1A7BB7;
    border-top: 1px solid #4BA3FF;
}
.plan_price {
   color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    margin-left: 0;
    padding: 8px;
    text-align: center;
}

.plan_features:nth-child(2n) {
    background: none repeat scroll 0 0 #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    padding: 6px 0;
}

.plan_features:nth-child(2n+1) {
    background: none repeat scroll 0 0 #fff;
    font-size: 13px;
    font-weight: bold;
 	 padding: 4px 0;
}

.plan_buy {
    background: none repeat scroll 0 0 #000000;
    border-radius: 0 0 3px 3px;
    padding: 20px;
}

.feature_desc {
    color: inherit;
    font-family: arial;
    text-align: center;
}

.title_highlight {
    color: #008000;
    font-family: helvetica;
    font-size: 11px;
    font-weight: bold;
}
.imei_nos_dlg ul
{
	list-style:none;
}
.inv_inp_blk
{
	 border: 1px solid #000000 !important;
    font-size: 10px;
    width: 87px;
}
.inv_inp_datepick_blk
{
	 border: 1px solid #000000 !important;
    font-size: 10px;
    width: 87px;
}
.inv_inp_amount
{
	width:60px;
	font-size: 10px;
}
.invamount
{
	border: 1px solid #000000 !important;
}
#grn_ttl_value
{
	font-size:13px;color:green;
}
#grn_ttl_rqty
{
	font-size:13px;color:green;
}
.selected_po_list
{
	  background: none repeat scroll 0 0 #EAEAEA;
    float: left;
    margin-left: 5px;
    padding: 5px 0;
    text-align: right;
    width: 85.3%;
}
.selected_po_list span
{
	 font-weight: bold;
    margin: 0 10px;
    padding: 5px;
}
.button_blk_wrap
{
	  margin-top: 33px;
    text-align: right;
    width: 86%;
}
.imei_error_inp
{
	border:1px solid #FF0000 !important;  
}
.view_imei
{
	font-size:10px;
	color:#777;
}
.cursor 
{
	cursor: pointer;
}
#scanned_summ{
	 background: none repeat scroll 0 0 #FFFFD0;
  	 color: #FF0000;
    font-size: 14px;
    margin-top: 360px;
    position: fixed;
    right: 0;
    top: 0;
    width: 184px;
}
#scanned_summ #scan_title
{
	 color: #000000;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.ven_title_wrap
{
	color: #921A1A;
}
#scanned_summ h4{
	margin-bottom: 10px;
    margin-top: 10px;
}
.scanned_summ_total{
	border: 1px solid #AAAAAA;
    height: 70px;
    padding: 5px;
}
.scanned_summ_total_qty
{
	font-size: 19px;
    margin: 15px;
    text-align: center;
}
.scanned_summ_stats{
	padding:5px;font-size: 15px;font-weight: bold;text-align: left;border-bottom: 1px dotted #FFF;
}
.inv_textarea_wrap
{
	 float: left;
    margin-left: 10px;
    vertical-align: top;
    width: 35%;
}
.bcode_scanned_div
{
	font-size: 11px;
}
.imei_scanned_div
{
	font-size: 11px;
	margin-top:10px;
	float:left;
}
.bcode_scanned_status
{
	background: none repeat scroll 0 0 #F1F1F1;
    border-radius: 2px;
    color: #FD0303;
    font-size: 10px;
    font-weight: bold;
    margin-top: 15px;
    padding: 3px;
    text-transform: uppercase;
    width: 20%;
}
.po_alert_wrap
{
	padding:100px;
	font-size: 13px;
	color:red;
	font-weight: bold;
	text-align: center;
}
.imei_scanned_status {
    background: none repeat scroll 0 0 #F1F1F1;
    border-radius: 2px;
    color: #FD0303;
    font-size: 10px;
    font-weight: bold;
    margin-top: 15px;
    padding: 3px;
    text-transform: uppercase;
    width: 20%;
}
.cancel_stock
{
	  float: left;
    margin-top: 22px;
}
.pb_blk
{
	background: none repeat scroll 0 0 #FFFFA0;
    border: 1px solid #CCCCCC;
    padding: 1px 3px;
}
.bcode_upd{padding:2px 4px;}
.bcode_scanned_status.active
{
	background: rgb(242, 245, 180);
	color: green;
	border:1px solid #F1F1F1
}
.imei_scanned_status.active{background: rgb(242, 245, 180);
color: green;
border:1px solid #F1F1F1}
#grn .datagrid td{font-size: 10px}
#grn .datagrid td a{font-size: 11px;}
#grn .datagrid td select,#grn .datagrid td input[type="text"]{font-size: 11px;min-width: 60px}
.name a:focus{font-size: 14px;}
#grn_ttl_value
{
	margin-left:58%;
}
#invoice_ttl_value
{
	 color: #008000;
    font-size: 13px;
}
#grn_ttl
{
	display:none;
}
#invoice_ttl_value
{
	float:left;margin-left:5px;
}

.processed_mode td{background:none repeat scroll 0 0 #80F111 !important;}
.edit_mode td{background:none repeat scroll 0 0 #b4defe !important;}

span.name {font-size: 12px !important;}

#grn a:focus{font-weight: bold;font-size: 14px;}
#grn .iqty,#grn .rqty{min-width: 30px !important;border: 2px solid #000 !important}
.exp_date, .self_life
{
	font-size: 10px;
    height: 11px;
    width: 66px !important;
}
.vid_wrap
{
	float: left;
    padding: 0;
    font-weight: bold;
    font-size: 13px;
    line-height: 23px;
    height:26px !important; 
}


.modal_po_list
{
	width: 25% !important;
}
.if_offer
{
	width:123px;
}
