<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
	<head>
		<title>TODO supply a title</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<h3>Hi,</h3>
		<p>Following details are requested by Banashankari Franchise: </p>
		<table width="100%" cellspacing="4">
			<tr>
				<td>Requested On</td><td>:</td>
				<td>31/May/2014 5.30 pm</td>
			</tr>
			<tr>
				<td>Requested By</td><td>:</td>
				<td>Shiva Mobile Store</td>
			</tr>
			<tr>
				<td width="16%">Title</td><td>:</td>
				<td><strong>glkjdfhgjdshfjg</strong></td>
			</tr>
			<tr>
				<td width="16%">Request Type</td><td>:</td>
				<td>Product</td>
			</tr>
			<tr>
				<td>Description</td><td>:</td>
				<td>TODO write content unable to find Samsung grand 2 product.</td>
			</tr>
		</table>
	</body>
</html>
