<!--
	@Description: Insurance template for printing
	@Author: Shivaraj <shivaraj@storeking.in>
	@Usedin: api.php controller
	@created_on	May_05_2014
-->
	<h3>Hi Team,</h3>
	<p>Following ticket details are requested by %%requested_by%%: </p>
	<table width="100%" cellspacing="4">
		<tr>
			<td width="12%">Requested By</td><td>:</td>
			<th>%%requested_by%%</th>
		</tr>
		<tr>
			<td>Ticket Status</td><td>:</td>
			<th><strong>%%tkt_status%%</strong></th>
		</tr>
		<tr>
			<td>Request Type</td><td>:</td>
			<th>%%request_type%%</th>
		</tr>
		<tr>
			<td>Description</td><td>:</td>
			<th>%%description%%</th>
		</tr>
		<tr>
			<td>Date</td><td>:</td>
			<th>%%requested_on%%</th>
		</tr>
	</table>
	<p>Ticket Link: %%link%%</p>
