<!--
	@Description: Insurance template for printing
	@Author:	Shivaraj <shivaraj@storeking.in>
	@Usedin:	insurance_print_view.php view
	@created_on	May_05_2014
-->
<style type="text/css">
       .insurance_block_main {
            width: 85%;
            /*border:2px solid #000000;*/
            margin: 5% auto;
            color: #000000;
            /*font-weight: bold;*/
            padding: 5px 25px;
        }
        .insurance_block_main{font-family: arial;font-size: 13px;}
        .showinprint{
            display: none;
        }
        .clear { clear:both; }
        .insurance_block_main ul {
             margin-left: 25px;
        }
        .insurance_block_main li {
             line-height: 1.6em;
        }
        
        .insurance_block_main .header {
            width: 100%;
            text-align: center;
            /*padding-left: 10%;*/
        }
        .insurance_block_main .header h2 {
            /*width: 100%;*/
        }
        .insurance_block_main h4 {
            font-weight: none;
        }
        .underline {
            text-decoration: underline;
        }
        .insurance_block_main .line-head {
            text-decoration: underline;
            /*font-weight: bold;*/
            /*font-size: 16px;*/
            line-height: 1.9em;
        }
        .insurance_block_main p,li,blockquote {
            font-size: 12px;
        }
        .insurance_block_main .format-para{
            text-indent: 2%;
        }
        .insurance_block_main dl dt {
            float: left;
        }
        .insurance_block_main .alpha {
            list-style-type: lower-alpha;
        }
        .insurance_block_main .bold {
            font-weight: bold;
        }
        .insurance_block_main .justify {
            text-align: justify;
        }
        .insurance_block_main .regular-style {
            font-size: 13px;
            line-height: 1.8em;
        }
		.no-bullet { list-style-type: none; }
        @media print {
                .insurance_block_main {
                    width: 100%;
                }
                .insurance_block_main ul {
                    margin-left: 0px;
               }
               .insurance_block_main .header h2 {
                    font-size:18px;
               }
               .insurance_block_main h4 {
                    font-weight:normal;
                }
                .hideinprint{
                        display:none;
                        visibility: hidden;
                }
                .showinprint{
                        display: block;
                }
				.header_block { float:left; font-size: 11px; display: table-header-group; text-align: center; }
				.footer_block { float:left; font-size: 11px; display: table-footer-group; text-align: center; }
        }
        </style>
        <!--==================================< PAGE 1 STARTS >================================================-->
		
        <div class="header">
            <h2>Certificate of Mobile, Electronic and Electrical Appliance Insurance Policy</h2>
        </div>
        <p class="bold justify">THIS IS TO CERTIFY THAT in accordance with the authorization granted under Package Insurance Policy of The New India Assurance Company with No: 67050046132400000020 to LocalCube Commerce Pvt Ltd, and in consideration of the Premium, the insurer is hereby bound to YOU for the benefits set out herein, subject to Terms, Definitions, Exclusions and Conditions specified in this Certificate for a Period of 1(One) year from the date of Sale.</p>
        <p>
            Insurance Order Reference No: <span class="underline">&nbsp;&nbsp;&nbsp;&nbsp;%%itemid%%&nbsp;&nbsp;&nbsp;&nbsp;</span>
            Insurance Start Date:  <span class="underline">&nbsp;&nbsp;&nbsp;&nbsp;%%created_on%%&nbsp;&nbsp;&nbsp;&nbsp;</span> 
            Serial No: <span class="underline">&nbsp;&nbsp;&nbsp;&nbsp;%%imei_serial_no%%&nbsp;&nbsp;&nbsp;&nbsp;</span> 
        </p>
        <p>
            Insured Product: <span class="underline">&nbsp;&nbsp;&nbsp;&nbsp;%%insured_product%%&nbsp;&nbsp;&nbsp;&nbsp;</span> 
            Product Type: <span class="underline">&nbsp;&nbsp;&nbsp;&nbsp;%%product_type%%&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </p>
                
        
        <h4>CLAIMS PROCEDURE.</h4>
		<ul>
			<li>Mobiles whose Sale Value is more than INR 5000, sold by StoreKing for which premium is paid are Insured against the loss by Theft.</li>
			<li>Electronics and Electrical Appliance whose Sale Value is more than INR 10000, sold by StoreKing for which premium is paid are Insured against the loss by Theft.</li>
			<li>Customer to intimate the claim within 48hours of occurrence of the event resulting in a claim.</li>
			<li>The customer is indemnified for the loss after adjusting depreciation on value of Products for theft claims.</li>
			<li>Customer can claim for Theft. Only one claim is permissible per sale.</li>
			<li>The replacement Product is sold through the designated outlet of StoreKing for Insurance Replacements.</li>
			<li>No Cash settlement to customer. The claim settlement by replacement through StoreKing outlets for Theft claims.</li>
		</ul>
		<h4>DEFINITIONS</h4>
		<ul>
			<li>Mobile, Electronic and Electrical Appliances covered: whose IMEI/Serial numbers are declared by StoreKing for insurance and same appear in the purchase invoice of the handset.</li>
			<li>Individual - The insured person would be the purchaser of handset from StoreKing Platform, whose name is shown on the Invoice, or his / her spouse, Children or Parents. If user is any other relative, claim will not be entertained.</li>
			<li>Company - Insured shall mean any representative / employee of the company authorised to use the Equipment.</li>
		</ul>
        
        <h4>EXCLUSIONS</h4>
        <p>The following are the important exclusions under the policy. Please refer back of invoice for details. The insurers will not approve to replace Your Equipment under the following circumstances.</p>
        <ul>
            <li>If the loss /theft is caused by incorrect storage, careless use, negligence/ handset left unattended and got stolen by the insured person or his responsible representatives.</li>
            <li>Simple loss of equipment, for example lost, mysterious disappearance, forgotten or misplaced Equipment and simple theft when insured is not aware how it went missing.</li>
            <li>Theft caused during war, civil unrest or in connection with nuclear accidents.</li>
            <li>If the Equipment is lost intentionally by User.</li>
            <li>Caused while engaging in criminal acts (including terrorism)</li>
            <li>If the Equipment is more than 1 year old (from first purchase).</li>
            <li>Any theft when the phone is left unattended.</li>
            <li>If the original Sale invoice (Manual or system generated) issued at the time of sale is not submitted, claims will not be entertained.</li>
            <li>If the IMEI/Serial No declared by StoreKing and submitted by customer varies no claim will be entertained.</li>
            <li>Insurers will not be responsible for or reimburse the user for any consequential costs whatsoever, or any costs incurred by user in making a claim under this policy, including postage, transit costs, data/ software replacement and reconnection costs. The insurers will also not accept or fulfil any replacement request for benefits where they have not received premiums as agreed at the time of purchase.</li>
            <!--<div class="footer_block">%%footer_1%%</div>-->
			<!--=========================< Page 1 ENDS >======================-->
			
			<!--=========================< Page 2 STARTS >======================-->
			<!--<div class="header_block">%%header_2%%</div>-->
			<li>No liability whatsoever will arise under the policy if it is found that any of the claim documents have been tampered at any stage.</li>
            <li>The ownership of the handset is transferred</li>
            <li>User is instrumental in causing the theft for which one is claiming.</li>
            <li>Information has intentionally been withheld or incorrect information or misrepresentations have intentionally been given that are of significance to the assessment of the claim.</li>
        </ul>

        <h4>COVERAGE</h4>
        <p class="justify">Insurance company will, in the event of any of the following occurrences, at their option, Repair / Replace stolen Equipment with a new unit,</p>
        <ul>
            <li>For Mobile, Handsets, Laptops and Tablets: Anywhere in India</li>
            <li>For Other Electronic and Electrical Appliances: Residential Address of the insured person as mentioned at the Start of Insurance</li>
            <li>Theft Cover: If the Equipment is stolen from the insured person where the thief has used violence or force against him or threatened to use violence.</li>
            <li>Theft from Building/Car. If the Equipment is stolen from a building, room, car to which the thief has gained access by force. In the event of theft from a car, the Equipment must have been placed in a locked compartment in the dashboard or boot so that it is not visible from the outside.</li>
            <li>If the handset is stolen / picked in public transport, police acknowledgement should contain the details of offence with details of Handset / transport / route number details.</li>
        </ul>
        
        <h4> EXCESS AND DEPRECIATION</h4>
        <ul>
            <li><span class="line-head bold">Excess: </span>Insured will be required to pay the first amount of any claim (excess) before Insurer approves to replace stolen Equipment. The excess shall be 5% of the value of the claim, or 500 rupees, whichever is more.</li>
            <li class="no-bullet">
				<ul>
                    <li>Rs.5,000 to 10,000  :5% of the Claim Amount OR Rs. 500/-, whichever is more.</li>
                    <li>Rs 10,000 to 20,000:5% of the Claim Amount OR Rs. 1000/-, whichever is more.</li>
                    <li>More than 20,000    :5% of the Claim Amount OR Rs. 2500/-, whichever is more.</li>
                </ul>
            </li>
            <li><span class="line-head bold">Depreciation.</span></li>
            <li class="no-bullet">
					<ul>
                        <li><span class="bold">For Mobile, Laptop, Tablets</span></li>
						<li>
							<ul>
								<li>0 to 60 days 		- 10% of the Invoice Value.</li>
								<li>61 to 150 days          - 20% of the Invoice Value.</li>
								<li>151 days and Above 	- 40% of the Invoice Value.</li>
							</ul>
						</li>
						<li><span class="bold">For Electronics and Electrical Appliances</span></li>
						<li><ul>
								<li>0 to 60 days 		- 10% of the Invoice Value.</li>
								<li>61 to 150 days          - 20% of the Invoice Value.</li>
								<li>151 days and Above 	- 30% of the Invoice Value.</li>
							</ul>
						</li>
                    </ul>
			</li>
			<li><span class="line-head bold">Salvage / Accessories:</span>Insurers will deduct an amount as percent of invoice value towards accessories that is not lost with handset and becomes salvage under claim. The Handsets replaced under beyond economic repair clause become salvage.</li>
        </ul>
		<!--Footer-->
         <div class="footer_block">%%footer_2%%</div>
		
<!--         <div style="page-break-before:always;"></div> -->
        
		<!--=========================< Page 2 ENDS >======================-->
		
		<!--=========================< Page 3 STARTS >======================-->
		
		<div style="page-break-before: always;">
		
				<!--Header-->
				<!-- 		<div class="header_block">%%header_3%%</div> -->
				<table width="100%" cellpadding="7" cellspacing="5" class="regular-style">
					<tr><td width="5%">&nbsp;</td></tr>
					<tr><td width="5%">&nbsp;</td></tr>
					<tr><td width="5%">&nbsp;</td></tr>
				</table>
		
			        <h4>Claims documents required</h4>
			        <span class="line-head bold">For Theft claims:</span>
			        <ul>
			            <li>Service Provider to be Intimated and SIM card to be barred within 48 Hours</li>
			            <li>Completed Claim Form</li>
			            <li>Authorization letter to insurers to block IMEI number in case of Mobile</li>
			            <li>Police acknowledgement / FIR (If Product value is more than Rs.20000) as the case may be.</li>
			            <li>SIM Blocking and replacement proof certified by service provider incase of Mobile.</li>
			            <li>Original sale invoice</li>
			            <li>Pre-receipt - loss voucher</li>
			            <li>Photo ID of owner and SIM owner</li>
			            <li>Signature proof of Insured owner / claimant.</li>
			        </ul>
			        
			        <h4>CLAIMS EXAMPLE</h4>
			        <p>Mobile was purchased on 1st of May 2014, Value of the Mobile is Rs. 10, 000/- ( invoice value)<br>
			            Claims is theft and occurrence of the claim  date 1st July 2014.</p>
			        <p><span class="bold">Excess:</span><br>
			            For Mobiles, laptops and tablets:<br>
			            Rs. 5000-10,000: 5% OF THE CLAIM AMOUNT OR RS.500/-, WHICHEVER IS MORE.<br>
			            More than 10,000: 5% OF THE CLAIM AMOUNT OR RS. 1000/-, WHICHEVER IS MORE
			        </p>
			        <div>
			            <span class="bold">Depreciation:</span>
			            <blockquote style="margin-left:65px;">
			                        0 - 60       days         -      10 %<br>
			                        61 - 150 days           -      20 %<br>
			                        151 days &amp; above        -      40%<br>
			            </blockquote>
			            <ul>
			                <li>Minimum Invoice value Rs. 5000</li>
			                <li>Depreciation 61 - 150 days - 20%.</li>
			                <li>Value = 10000 X 20%  = 2000</li>
			                <li>Current value of the Mobile is = 10000 - 2000 = 8000</li>
			                <li>Excess: Rs. 5000-10,000: 5% OF THE CLAIM AMOUNT OR RS.500/-, WHICHEVER IS MORE</li>
			                <li>5% of Rs. 8000 is Rs 400 or Rs 500 whichever is more, <strong>Rs. 500 excess</strong></li>
			            </ul>
			        </div>
			        <h4>Claim payable is Rs. 8000 - 500 = Rs. 7,500/-</h4>
			        
			        <h4>Mode of Settlement</h4>
			        <ul>
			            <li>No direct settlement with end users from insurers.</li>
			            <li>The claims will be settled on replacement of same or similar handset with same features (If the stolen model is obsolete) that is insured prior to loss of damage.</li>
			            <li>The insured to pay the difference of value between the new and approved cost.</li>
			            <li>No Insurance cover for replaced handsets.</li>
			        </ul>
			 		<div class="footer_block">%%footer_3%%</div>
		</div>
        
		<!--=========================< Page 3 ENDS >======================-->
		
		
		
		<!--=========================< Page 4 STARTS >======================-->
		<div style="page-break: always;padding:10px;">
		
				<table width="100%" cellpadding="7" cellspacing="5" class="regular-style">
					<tr><td width="5%">&nbsp;</td></tr>
<!-- 						<tr><td width="5%">&nbsp;</td></tr> -->
<!-- 						<tr><td width="5%">&nbsp;</td></tr> -->
				</table>
				<div class="header_block">%%header_4%%</div>
		        <h4>Replacements</h4>
		        <ul>
		            <li>Replacements happen from designated StoreKing Stores.</li>
		            <li>Verify the claim number details texted to claimants by Insurance Copy, ID proof, and collect the difference amount and bill the sale under IR series.</li>
		            <li>As far as possible, replace by same model to protect principle of insurance. If obsolete, replace with similar model with same features.</li>
		        </ul>
		        <br>
		        <br>
		        
		        <hr />
		        <br>
		
		        <p class="regular-style">I ____________________________ here by acknowledge that I have read and understood all the above terms and conditions and agree to abide by it incase of any claim arises.</p>
		        
		
		        
				<table width="100%" cellpadding="7" cellspacing="5" class="regular-style">
					<tr><td width="5%">Name</td><td>: </td></tr>
					<tr><td>Signature</td><td>: </td></tr>
					<tr><td>Date</td><td>: </td></tr>
				</table>
		        
		
		        <br>
		        <br>
		        <br>
		        <br>
		        <br>
		        
		        <div align="center" style="font-size: 10px">
		        	<b>%%franchise_name%%</b>
		        	<br> 
		        	%%franchise_address%%, %%franchise_landmark%%, %%franchise_city%% %%franchise_state%% -  %%franchise_postcode%% - %%franchise_mobile%%
		        </div>
        </div>
		<!--=========================< Page 4 ENDS >======================-->
    
